
body {
	font-family: 'Arial', sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 100px;
}
.main-content {
	max-width: 600px;
	margin: 100px auto; /* Centra l'intero contenuto della pagina */
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
	color: #0056b3;
}

fieldset {
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

legend {
	padding: 0 10px;
	font-weight: bold;
	font-size: 18px;
	color: #333;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	margin-top: 20px;
}

input[type="text"] {
	width: calc(100% - 22px);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.card-details {
	display: flex;
	justify-content: space-between;
}

.card-details div {
	flex: 1;
	margin-right: 10px;
}

.card-details div:last-child {
	margin-right: 0;
}

.checkout-summary {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.checkout-summary strong {
	color: #e74c3c;
}


.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.button {
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 20px;
    background-color: #8100f4;
    text-align: center;
}

.button:hover {
    color: black;
    background-color: white;
}
